<div class="container mt-5">
  <div class="alert alert-danger text-center" role="alert">
    <h1>Error 404</h1>
    <p>{{message}}</p>
    <a href="/products" class="btn btn-primary">Volver a Productos</a>
  </div>
</div>